#new-seller {
    text-align: center;
    margin-top: 20px;
}

#imageUpload {
    margin-top: 10px;
}

#previewImage {
    display: none; /* ต้องเปิดใช้งานผ่าน JavaScript */
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

